footer{
    width: 100%;
    background-color: var(--usually-black);
    color: var(--usually-white);
}

.footer-section{
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;

    .footer-container{
        max-width: 1200px;
        width: 80%;
        margin: 0 auto;

        .footer-list{
            display: flex;
            justify-content: space-between;

            ul{
                padding: 0 -1rem;
                list-style: none;
        
                li{
                    margin: 15px auto;
        
                    h1{
                        margin: 30px 0;
                    }
    
                    a{
                        font-size: 13px;
                    }
        
                    a:hover{
                        text-decoration: underline;
                        cursor: pointer;
                    }
        
                    a:active{
                        color: orange;
                    }
                }
            }
        }

    }

    .language-container{
        margin-top: 6rem;
        
        div{
            width: 12%;
            margin: 1rem;
            padding-top: 3rem;
            display: flex;
            align-items: center;
            border-top: 1px solid var(--usually-white);

            p{
                padding: 0 10px;
            }

            span{
                cursor: pointer;
                rotate: 180deg;
                margin-bottom: -4px;
            }
        }
    }
}

.footer-list a {
    color: var(--usually-white);
    text-decoration: none;
}