.header-nav{
    min-width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--usually-white);
    position: fixed;
    z-index: 1000;
    margin-top: -4px;
}

.header-list{
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    li{
        cursor: pointer;
        display: inline-block;
        margin: 0 1rem;

        button{
            cursor: pointer;
            background-color: var(--main-color);
            color: var(--usually-white);
            padding: 5px 10px;
            border-radius: 1px;
        }
    }
}