[class^="col"] {
    padding: 0 1rem;
}


/* #region jumbo */
.jumbo-section {
    padding-top: 120px;
    background-color: var(--jumbo-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 100px;

    .dimensioni {
        width: 80%;
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;

        h2 {
            max-width: 1200px;
            width: 85%;
            font-size: 80px;
        }

        .ex-lista {
            display: flex;
            align-items: center;
            margin-top: 50px;

            .ex-lista:not(:last-child) {
                font-size: 16px;
                margin: 2rem 0;
            }

            i {
                font-size: 60px;
                margin-top: 30px;
                cursor: pointer;
            }

            .descrizione {
                max-width: 70%;
            }

            button {
                cursor: pointer;
                background-color: var(--main-color);
                color: var(--usually-white);
                padding: 10px 15px;
                border-radius: 2px;
                margin: 40px 0;
            }
        }
    }
}

.jumbo {
    max-width: 70%;
    margin-bottom: -30px;
}

/* #endregion jumbo */


/* #region scelta */
.grid-container{
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    width: 80%;
    margin-bottom: 30px;
}

.fatturazione-container{
    width: 80%;
    margin: 0 auto;
    display: inline-block;
    margin-bottom: 40px;

    .allineamento-scelte{
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    h2{
        font-size: 30px;
        margin-bottom: 50px;
    }
}

.scelta-container{
    display: flex;

    button{
        height: 20px;
        width: 20px;
        border-radius: 10px;
        color: var(--usually-white);
        background-color: white;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.668);
        margin-right: 5px;
        cursor: pointer;
    }

    button:hover{
        box-shadow: none;
        border: 2px solid var(--main-color);
    }

    button:active{
        background-color: var(--main-color);
        color: var(--main-color);
        box-shadow: none;
    }

    p{
        margin-right: 50px;
    }
}
/* #endregion scelta */


/* #region grid */
.grid-section{
    max-width: 1200px;
    margin: 0 auto;
}

.container{
    max-width: 1200px;
    width: 83%;
    margin: 0 auto;
}

.row{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col{
    flex-basis: auto;
    display: flex;
}


/* Column */
.col-1{
    max-width: calc(100% / 12 * 1);
}

.col-2{
    max-width: calc(100% / 12 * 2);
}

.col-3{
    max-width: calc(100% / 12 * 3);
}

.col-4{
    max-width: calc(100% / 12 * 4);
}

.col-5{
    max-width: calc(100% / 12 * 5);
}

.col-6{
    max-width: 50%;
}

.col-7{
    max-width: calc(100% / 12 * 7);
}

.col-8{
    max-width: calc(100% / 12 * 8);
}

.col-9{
    max-width: calc(100% / 12 * 9);
}

.col-10{
    max-width: calc(100% / 12 * 10);
}

.col-11{
    max-width: calc(100% / 12 * 11);
}

.col-12{
    max-width: 100%;
}

/* card */
.card-piano{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--borders-grey);

    p{
        font-size: 12px;
    }

    i{
        margin-right: 5px;
    }

    .nome-piano{
        display: flex;
        justify-content: center;
        width: 100%;
        border-bottom: 1px solid var(--borders-grey);
        padding: 10px;
    }

    ul{
        list-style: none;
    }

    .prezzo-piano{
        width: 80%;
        margin: 20px auto;
        
        li{ 
            h1{
                font-size: 23px;
                margin-top: 20px;
            }

            h4{
                margin-top: 10px;
                margin-bottom: 5px;
            }

            p{
                color: var(--borders-grey);
            }
        }
    }

    .caratteristiche-piano{
        margin: 20px auto;
        width: 80%;
        display: flex;
        
        .organizzazione-lista{
            display: flex;
            flex-direction: column;

            div{
                display: flex;
                margin: 10px 0;
            }
        }
    }

    .prova-acquista{
        width: 80%;
        margin: 0 auto;
    
        button{
            width: 100%;
            background-color: var(--main-color);
            color: var(--usually-white);
            padding: 10px 0;
            margin: 20px 0;
        }
    
        button:hover{
            background-color: var(--usually-white);
            color: var(--main-color);
            box-shadow: 0px 0px 2px var(--main-color);
            cursor: pointer;
        }

        button:active{
            box-shadow: 0px 0px 2px orange;
            color: orange;
        }
    
        .link{
            margin-top: 10px;
    
            a{
                color: var(--main-color);
                text-decoration: underline;
                cursor: pointer;
            }
    
            a:hover{
                text-decoration: none;
            }

            a:active{
                color: orange;
                text-shadow: none;
            }
        }
    
        .partial-border{
            display: flex;
            margin: 25px 0 ;
            color: var(--borders-grey);
    
            p{
                margin: 0 -1px;
            }
        }
    }
    
    .punti-container{
        width: 80%;
        margin: 0 auto;
        margin-top: 15px;
        
        margin-bottom: 30px;
    
        ul{
            list-style: none;
        }
    
        .display-container{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
    
            div{
                display: flex;
                align-items: baseline;
    
                h4{
                    margin-bottom: 10px;
                }
    
                i{
                    color: var(--main-color);
                    margin-right: 10px;
                }
            }
    
            .div-margin{
                padding: 20px 0;
            }
        }
    }
}

/* #endregion grid */