[class^="col"] {
    padding: 1rem;
}

/* #region jumbo */
.jumbo-section {
    padding-top: 120px;
    background-color: var(--jumbo-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .diemnsioni {
        width: 80%;
        display: flex;
        flex-direction: column;

        h2 {
            max-width: 1200px;
            width: 85%;
            font-size: 60px;
        }

        .ex-lista {
            display: flex;
            align-items: center;
            margin-top: 50px;

            .ex-lista:not(:last-child) {
                font-size: 16px;
                margin: 2rem 0;
            }

            i {
                font-size: 60px;
                margin-top: 30px;
            }

            .descrizione {
                max-width: 70%;
            }

            button {
                cursor: pointer;
                background-color: var(--main-color);
                color: var(--usually-white);
                padding: 10px 15px;
                border-radius: 2px;
                margin: 40px 0;
            }
        }
    }
}

.jumbo {
    max-width: 60%;
    margin-bottom: -55px;
}

/* #endregion jumbo */