*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    border: 1px dashed black;   /* <--DEBUG */
}

body{
    font-family: Roboto;
    font-size: 14px;
    min-width: 1200px;
}

button{
    border: 0;
}

:root{
    --main-color: #0061fe;
    --jumbo-color: #b4d0e6;
    --usually-white: #ffffff;
    --usually-black: #000000;
}


/* Griglia */
.container{
    width: 80%;
    max-width: 1200px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.col{
    width: auto;
    flex-basis: auto;
    padding: 1rem;
}


/* Column */
.col-1{
    max-width: calc(100% / 12 * 1);
}

.col-2{
    max-width: calc(100% / 12 * 2);
}

.col-3{
    max-width: calc(100% / 12 * 3);
}

.col-4{
    max-width: calc(100% / 12 * 4);
}

.col-5{
    max-width: calc(100% / 12 * 5);
}

.col-6{
    max-width: 50%;
}

.col-7{
    max-width: calc(100% / 12 * 7);
}

.col-8{
    max-width: calc(100% / 12 * 8);
}

.col-9{
    max-width: calc(100% / 12 * 9);
}

.col-10{
    max-width: calc(100% / 12 * 10);
}

.col-11{
    max-width: calc(100% / 12 * 11);
}

.col-12{
    max-width: 100%;
}